<!DOCTYPE html>

<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="title-text">Hoopdle</div>

    <div class="desc-text">A Wordle-inspired NBA 2K guessing game</div>

    <button class="next-button" id="play">Play</button>

    <form action="/rules" method="post">
        <button class="next-button" id="rules">Rules</button>
    </form>

    <div class="bot-text">Made by Avi Athota, Oct '2023.</div>

</body>

</html>