<!DOCTYPE html>
<html>
<head>
    <title>Rules Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
</head>
<body>
    <div class="opacity-box">
        <div class="title-text">RULES</div>

        <div class="desc-text">It's quite simple!</div>

        <div class="desc-text">Guess any NBA player, and you'll be provided with feedback based on the following categories!</div>

        <div class="desc-text" color="red">[IMAGE WILL EVENTUALLY GO HERE!!!]</div>

        <div class="desc-text">Try to solve it in less than 5 guesses!</div>

        <form action="/home" method="post">
            <button class="next-button" id="home">Back</button>
        </form>
    </div>
</body>
</html>